*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    /* width: 100%; */
    /* height: auto; */
}
/*     
    celeste #9EC6E0
    celeste mas oscuro #91bddasii
    naranja #FCBA6E
    gris #606060 */


/* <!-- Header --> */
body{
    background-color: #ffffff;
}

.cabecera{
    width: 100%;
    background-color: #9EC6E0;
    /* font-family: 'Roboto', sans-serif; */
    /* height: 20vh; */
    
    display: flex;
    align-items: center; 
}

.cabecera .logo{
    width: 25vh;
    height: auto;
    padding-left: 1rem;
}

.navbar {
    width: 100%;
}

.navbar-nav{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    justify-content: space-evenly;
}

.navbar ul li{
    justify-content: center;
    font-size: 32px;
}

.navbar ul li a{
    /* text-align: center; */
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    align-items: center;
}

.navbarnav{
    justify-content: space-around;
    width: fit-content;
}



/* <!-- Fin Header --> */

/* <!-- Sección Main Home --> */
.main{
    margin-top: 0%;
    width: 100%;
    height: auto;
    
    padding: 2rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    justify-items: center;
}

@media (max-width: 600px) {
    .main {
        grid-template-columns: 1fr;
        font-size: 20px;
    }
}

#informacion{
    height: auto;
    padding: 40px;
    padding-top: 20%;
    color: #9EC6E0;

    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 600;

    justify-self: center;
    align-content: center;

}

@media screen and (max-width: 570px){
    #informacion{
        width: 90%;
        font-size: 2rem;
        padding: 10px;
        font-weight: 300;
    }
    .testimoniostexto{ 
        font-size: 1rem;
    }
    .fotoprincipal{
        padding: 1rem;
    }
}

.fotoprincipal{
    width: 90%;
    min-height: 100%;
    padding-right: 1rem;
    margin-left: 0%;
}

.fotoprincipal img{
    width: 100%;
    border: solid 2px #FCBA6E;
}

/* <!-- Fin Sección Main home --> */

/* <!-- Sección Testimonios en Home --> */
.testimoniosseccion{
    width: 100%;
    height: auto;
    padding: 2rem;
    
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.testimonioscontainer{
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-content: center;
}

.testimoniostitulo{
    height: auto;
    width: 100%;
    padding: 1rem;
    color: #FCBA6E;

    display: inline-block;
    justify-content: center;

    font-size: 6rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    align-content: center;
}

.testimoniosejemplos{
    /* width: 100%; */
    height: auto;
    padding: 1rem;
    padding-top: 2rem;
    align-items: center;
    display: flex
}

.testimoniosfoto1, .testimoniosfoto2, .testimoniosfoto3{
    width: 40%;
}

.testimoniostexto{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #606060;
    padding: 1rem;
    align-content: center;
    justify-content: left;
}

@media screen and (max-width: 570px){
    .testimoniostitulo{
        font-size: 2rem;
    }
    .testimoniostexto{ 
        font-size: 1rem;
        justify-content: center;
        align-content: center;
    }
    .testimoniosfoto1, .testimoniosfoto2, .testimoniosfoto3{
        width: 50%;
    }

}

/* <!-- Fin Sección Testimonios en Home --> */

/* <!--  Sección Testimonios --> */

.secciontestimonios{
    width: 100%;
    padding: 20px;
    display: inline-block;
}

.secciontestimoniostitulo{  
    height: 200px;
    width: 100%;
    padding: 20px;
    color: #FCBA6E;

    font-size: 80px;
    font-family: 'Roboto', sans-serif;

    display: block;
    text-align: center;
    justify-content: center;
}

.secciontestimonios-ejemplo1, .secciontestimonios-ejemplo2, .secciontestimonios-ejemplo3{
    width: 100%;
    padding-left: 40px;
    padding-bottom: 40px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.secciontestimonios-ejemplo2{
    flex-direction: row-reverse;
    padding-right: 50px;
}

.secciontestimonios h3{
    padding-left: 40px;
    color: #9EC6E0;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.secciontestimonios-ejemplo2 div{
    justify-content: flex-end;
    /* No funciona */
}

.secciontestimonios p{
    padding-left: 40px;
    padding-right: 40px;
    color: #606060;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

/* <!--  Fin Sección Testimonios --> */

/* <!-- Sección Empeza Ahora --> */
.empeza{
    width: 100%;
    height: fit-content;
    padding: 4rem;
    text-align: center;
}

.empeza h2{
    color: #ffffff;
    background-color: #FCBA6E;

    width: 100%;
    height: auto;
    padding: 1rem;

    font-size: 3rem;
    font-family: 'Roboto', sans-serif;

    justify-content: center;
}

.veranimales{
    display: flex;
    width: 100%;
    height: auto;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;

}

.empeza div a{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    padding: 1rem;
    /* margin: auto; */
    color: #9EC6E0;
    text-decoration: none;

}


@media screen and (max-width: 570px){
    .empeza{
        transform: scale(0.8);
    }
    .veranimales{
        transform: scale(0.8)
    }
}

/* <!-- Fin Sección Empeza Ahora --> */

/* <!-- Sección Perros --> */
.seccionperros{
    width: 100%;
    height: auto;
    padding: 20px;
}

.perritostitulo{
    height: 200px;
    width: 100%;
    padding: 20px;
    color: #FCBA6E;

    font-size: 80px;
    font-family: 'Roboto', sans-serif;

    display: block;
    text-align: center;
}

.listaperros{
    width: 100%;
    height: auto;
    padding: 40px;
}

.listaperros {
    align-items: center;
}

/* <!-- Fin Sección Perros --> */

/* <!-- Sección Gatos --> */
.secciongatos{
    width: 100%;
    height: auto;
    padding: 1rem;
    
    display: inline-block
}

.gatitostitulo{
    height: 3rem;
    width: 100%;
    padding: 20px;
    color: #FCBA6E;

    font-size: 80px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;

    display: block;
    text-align: center;
}

.listagatos{
    width: 100%;
    height: auto;
    padding: 40px;
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-evenly;
}


@media screen and (max-width: 960px) {
    .listagatos {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6 1fr);
        transform: scale(0.9);
    }
}


@media screen and (max-width: 570px) {
    .listagatos {
        transform: scale(0.9);
    }
}


.gato1, .gato2, .gato3, .gato4, .gato5, .gato6{
    width: 80%;
    height: fit-content;
    padding: 1rem;
    align-items: center;
    justify-content: flex-start;

    display: flex;
}

.listagatos img:hover{
    transform: scale(1.3);
    animation: 0.4s;
}

.gatololito{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-decoration: none;
    color: #9EC6E0;
    padding-left: 30px;

    display: flex;
}

.listagatos img{
    width: 30vh;
    height: auto;
}

.listagatos p{
    font-family: 'Roboto', sans-serif;
    padding-left: 30px;
    font-size: 2rem;
}

.botonadoptar{
    width: 100%;
    height: auto;
    font-size: 2rem;
    padding: 1rem;

    display: flex;
    justify-content: center;
}

.btn-primary:hover{
    background-color: #91bdda;
}

.btn-primary:focus{
    background-color:#FCBA6E;
}

/* <!-- Fin Sección Gatos --> */

/* <!-- Sección Lolito --> */
.fichaanimal{
    width: 100%;
    height: 600px;
    padding: 50px;
    justify-content: center;
    display: flex /*porque engloba fichainformacion y fichafoto*/
    
}

.fichainformacion{
    width: 40%;
    height: 500px;
    padding-right: 100px;
    display: block; /* porque adentro tiene fichatexto y el h4+p+p*/
}


.fichatexto{
    width: 100%;
    height: 100px;
    padding: 20px;
    display: inline;
    text-align: right;
}

.sexomasculio img{
   width: 30%
}

.fichaanimal h1{
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    color: #9EC6E0;
}


.fichaanimal h4{
    padding-top: 20px;
    padding-bottom: 40PX;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #606060;
    text-align: right;
}
 
.fichafoto{
    width: auto;
    height: 600px;
    padding: 20px;
}

.fichaanimal p{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #606060;
    text-align: right;
}

.fichamapa{
    width: 100%;
    height: 500px;
    padding: 40px;

    justify-content: center;
    display: flex;
}

.fichamapa iframe{
    width: 40%;

    display: inline-block;
}

.fichagaleria{
    width: 50%;
    padding-left: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.fichagaleria img{
    width: 30%;
}

.quieroadoptar{
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary{ 
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding: 10px;
    background-color: #9EC6E0;
    border-color: transparent;
}

/* <!-- Fin Sección Lolito --> */

/* <!-- Sección Cómo adoptar --> */

.seccioncomoadoptar{
   width: 100%;
   display: inline-block;
}

.seccioncomoadoptartitulo{
    height: 200px;
    width: 100%;
    color: #FCBA6E;
    padding: 40px;

    font-size: 80px;
    font-family: 'Roboto', sans-serif;

    display: block;
    text-align: center;
}

.comoadoptarinfo{
    width: 100%;
    padding: 40px;

    display: inline-block;
}

.comoadoptar1, .comoadoptar2, .comoadoptar3{
    width: 100%;
    height: 200px;
    display: flex;
}

.comoadoptar2{
    flex-direction: row-reverse;
}

.comoadoptarinfo h3{
    padding: 40px;
    color: #606060;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;

    align-items: center;
    justify-content: space-around;
    display: flex
}

.comoadoptarimg1, .comoadoptarimg2{
    width: 30%;
}

.comoadoptarimportante{
    display: block;
    padding: 0px;
    width: 60%;
    margin: auto;
}

.comoadoptarimportante p{
    color: #606060;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;

    justify-content: center;
    /* Quiero ponerlo centrado el texto y no funciona */
}

/* <!-- Fin Sección Cómo adoptar --> */

/* <!-- Formulario de contacto --> */

/* <!-- Footer --> */
footer{
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoinstagram .logofacebook{
    padding: 1rem;
    align-items: center;   
    justify-items: center;
}

footer img{
    width: 3vh;
    height: 3vh;
}
/* <!-- Fin Footer --> */


/* Media queries */


@media only screen and (max-width: 963px){
  
}
/* Fin Media queries */
