
/* <!-- Sección Cómo adoptar --> */

.seccioncomoadoptar{
    width: 100%;
    height: auto;
    padding: 0 40px;
    display: inline-block;
 }

 @media screen and (min-width: 851px) {
    .comoadoptarimg1, .comoadoptarimg2{
        display: none;
    }
}

 .seccioncomoadoptartitulo{
     width: 100%;
     color: $colorsecundario;
     padding: 40px;
 
     font-size: 4rem;
     font-weight: 600;
     font-family: 'Roboto', sans-serif;
 
     display: block;
     text-align: center;
     justify-content: center;

     position: relative;
  }

 .comoadoptarinfo{
     width: 100%;
     height: auto;
     padding: 10px;

 
     display: inline-block;

    & h3{
        padding: 40px;
        color: $colorterciario;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 20px;
    
        align-items: center;
        justify-content: space-around;
        display: flex
        }

    @media screen and (max-width: 850px) {
        h3{
            font-size: 1.5rem;
            padding: 20px;
        }
        img{
            width: 15vh;
            height: 15vh;
        }
        p{
            font-size: 1rem;
        }
        .numerouno, .numerodos, .numerotres{
            align-items: center;
        }
    }

    
    @media screen and (max-width: 570px) {
        h3{
            font-size: 0.9rem;
            padding: 10px;
        }
        img{
            width: 15vh;
            height: 15vh;
        }
        p{
            width: 100%;
        }
        .numerouno, .numerodos, .numerotres{
            justify-content: center;
            align-items: center;
        }
        
    }
}
 
 .comoadoptar1, .comoadoptar2, .comoadoptar3{
     width: 100%;
     height: 200px;
     display: flex;    
    margin-bottom: 40px;
 }

  
 .comoadoptar2{
     flex-direction: row-reverse;
 }
 
 
 .comoadoptarimg1, .comoadoptarimg2{
     width: 30%;
 }
 
 .comoadoptarimportante{
     display: block;
     padding: 0 20vh;
     width: 100%;
     justify-content: center;
  
    p{
        color: $colorsecundario;
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    
        justify-content: center;
    }


 }

    // .fondocomoadoptardesktop{
    //     width: 100vh;
    //     position: fixed;
    
        
    // }

      
 @media screen and (max-width: 850px) {
    .comoadoptarimportante{
        width: 100%;
        padding: 20px;
        
        p{
        font-size: 20px;
        }
    }

    .comoadoptarimg1{
        width: 100%;
        justify-content: center;
    }

    .comoadoptarimg2{
        display: inline-block;
        height: 200px;
        width: auto;
        padding-left: 40vh;
        justify-content: center;
    }

    // .fondocomoadoptardesktop{
    //     display: none;
    // }
}

@media screen and (max-width: 570px) {
    .comoadoptarimportante{
        width: 100%;
        padding: 20px;
        
        p{
        font-size: 20px;
        }
    }
    
    .comoadoptarimg1{
        width: 100%;
        justify-content: center;
    }

    .comoadoptarimg2{
        display: inline-block;
        height: 150px;
        width: auto;
        padding-left: 15vh;
    }

    // .fondocomoadoptardesktop{
    //     display: none;
    // }
}


 
  /* <!-- Fin Sección Cómo adoptar --> */