
/* <!-- Footer --> */
footer{
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;

    @extend %flexbox;
    justify-content: space-evenly;
    

    img{
        width: 3vh;
        height: 3vh;
    }
}

.logoinstagram .logofacebook{
    padding: 1rem;
    align-items: center;   
    justify-items: center;
}


/* <!-- Fin Footer --> */
