
/* <!-- Footer --> */
footer{
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoinstagram .logofacebook{
    padding: 1rem;
    align-items: center;   
    justify-items: center;
}

footer img{
    width: 3vh;
    height: 3vh;
}
/* <!-- Fin Footer --> */
