
/* <!-- Sección Gatos --> */
.secciongatos{
    @include tamaño (100%, auto);

    padding: 1rem;
    
    display: inline-block
}

.gatitostitulo{
    @include tamaño (100%, 3rem);
    // height: 3rem;
    // width: 100%;
    padding: 20px;
    color: $colorsecundario;

    font-size: 80px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;

    display: block;
    text-align: center;
}

.listagatos{
    @include tamaño (100%, auto);

    padding: 40px;
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-evenly;

    img:hover{
        transform: scale(1.3);
        animation: 0.4s;
    }

    img{
        @include tamaño (30vh, auto);
        // width: 30vh;
        // height: auto;
    }
    
    p{
        font-family: 'Roboto', sans-serif;
        padding-left: 30px;
        font-size: 2rem;
    }
}


@media screen and (max-width: 960px) {
    .listagatos {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6 1fr);
        transform: scale(0.9);
    }
}


@media screen and (max-width: 570px) {
    .listagatos {
        transform: scale(0.9);
    }
}


.gato1, .gato2, .gato3, .gato4, .gato5, .gato6{
    @include tamaño (80%, fit-content);

    // width: 80%;
    // height: fit-content;
    padding: 1rem;
   
    justify-content: flex-start;

    @extend %flexbox;
    // display: flex;
    // align-items: center;
}

.gato2{
    background-color: map-get($adoptados, fondo-adoptado, border);
}

// .listagatos img:hover{
//     transform: scale(1.3);
//     animation: 0.4s;
// }

.gatololito{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-decoration: none;
    color: $colorprimario;
    padding-left: 30px;

    display: flex;
}

// .listagatos img{
//     width: 30vh;
//     height: auto;
// }

// .listagatos p{
//     font-family: 'Roboto', sans-serif;
//     padding-left: 30px;
//     font-size: 2rem;
// }

.botonadoptar{
    width: 100%;
    height: auto;
    font-size: 2rem;
    padding: 1rem;

    display: flex;
    justify-content: center;
}

.btn-primary:hover{
    background-color: $colorprimario;
}

.btn-primary:focus{
    background-color: $colorsecundario;
}

/* <!-- Fin Sección Gatos --> */