
/* <!-- Header --> */

.cabecera{
    width: 100%;
    background-color: $colorprimario;
    /* font-family: 'Roboto', sans-serif; */
    /* height: 20vh; */
    
    @extend %flexbox;

    & .logo{
        width: 25vh;
        height: auto;
        padding-left: 1rem;
    }
}

.navbar {
    width: 100%;

    & ul li{
        justify-content: center;
        font-size: 32px;
    }
    
    & ul li a{
        /* text-align: center; */
        color: $colorfondo;
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        align-items: center;
    }
}

.navbar-nav{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    justify-content: space-evenly;
}

// .navbar ul li{
//     justify-content: center;
//     font-size: 32px;
// }

// .navbar ul li a{
//     /* text-align: center; */
//     color: white;
//     font-family: 'Roboto', sans-serif;
//     font-size: 2rem;
//     align-items: center;
// }

.navbarnav{
    justify-content: space-around;
    width: fit-content;
}


/* <!-- Fin Header --> */