
/* <!-- Sección Lolito --> */
.fichaanimal{
    width: 100%;
    height: 600px;
    padding: 50px;
    justify-content: center;
    display: flex /*porque engloba fichainformacion y fichafoto*/
    
}

.fichainformacion{
    width: 40%;
    height: 500px;
    padding-right: 100px;
    display: block; /* porque adentro tiene fichatexto y el h4+p+p*/
}


.fichatexto{
    width: 100%;
    height: 100px;
    padding: 20px;
    display: inline;
    text-align: right;
}

.sexomasculio img{
   width: 30%
}

.fichaanimal h1{
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    color: #9EC6E0;
}


.fichaanimal h4{
    padding-top: 20px;
    padding-bottom: 40PX;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #606060;
    text-align: right;
}
 
.fichafoto{
    width: auto;
    height: 600px;
    padding: 20px;
}

.fichaanimal p{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #606060;
    text-align: right;
}

.fichamapa{
    width: 100%;
    height: 500px;
    padding: 40px;

    justify-content: center;
    display: flex;
}

.fichamapa iframe{
    width: 40%;

    display: inline-block;
}

.fichagaleria{
    width: 50%;
    padding-left: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    img{
        width: 30%;
    }
}

// .fichagaleria img{
//     width: 30%;
// }

.quieroadoptar{
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary{ 
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding: 10px;
    background-color: #9EC6E0;
    border-color: transparent;
}

/* <!-- Fin Sección Lolito --> */
