
/* <!-- Sección Perros --> */
.seccionperros{
    width: 100%;
    height: auto;
    padding: 40px;
}

.perritostitulo{
    margin-bottom: 2rem;
    
}

.listaperros{
    width: 100%;
    height: auto;
    padding: 40px;
}

.listaperros {
    align-items: center;
}

.card{
    img{
        width: 286px;
        height: 161px;
    }
}

@media screen and (max-width: 850px) {
       .perritostitulo h1{
         font-size: 0.5rem;
       }
       .seccionperros{
        padding: 10px;
       }
}

   
   @media screen and (max-width: 570px) {
        .perritostitulo h1{
          font-size: 1rem;
       }
       .seccionperros{
        padding: 10px;
       }
   }

/* <!-- Fin Sección Perros --> */