
/* <!-- Sección Perros --> */
.seccionperros{
    width: 100%;
    height: auto;
    padding: 40px;
}

.perritostitulo{
    margin-bottom: 2rem;
}

.listaperros{
    width: 100%;
    height: auto;
    padding: 40px;
}

.listaperros {
    align-items: center;
}

.card{
    img{
        width: 286px;
        height: 161px;
    }
}

/* <!-- Fin Sección Perros --> */