
/* <!-- Sección Perros --> */
.seccionperros{
    width: 100%;
    height: auto;
    padding: 20px;
}

.perritostitulo{
    height: 200px;
    width: 100%;
    padding: 20px;
    color: #FCBA6E;

    font-size: 80px;
    font-family: 'Roboto', sans-serif;

    display: block;
    text-align: center;
}

.listaperros{
    width: 100%;
    height: auto;
    padding: 40px;
}

.listaperros {
    align-items: center;
}

/* <!-- Fin Sección Perros --> */