
/* <!--  Sección Testimonios --> */

.secciontestimonios{

    img{
       width: 200px;
       height: 200px;
    }

    width: 100%;
    padding: 20px;
    display: inline-block;

    &-ejemplo1, &-ejemplo2, &-ejemplo3{
        width: 100%;
        padding: 5vh 10vh;
    
        @extend %flexbox;

        justify-content: flex-start;
        
    }
    

    h3{
        padding-left: 40px;
        color: $colorprimario;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
    }
    
    p{
        padding: 0 40px;
        color: $colorterciario;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
    }
    
    &-ejemplo2{
        flex-direction: row-reverse;
     }
}

@media screen and (max-width: 850px) {
    .secciontestimonios-ejemplo1, .secciontestimonios-ejemplo2, .secciontestimonios-ejemplo3{
        width: 100%;
        padding: 5vh 5vh;
        justify-content: center;
        flex-wrap: wrap;

        h3{
            font-size: 2rem;
            justify-items: center;
        }

        p{
            font-size: 1.5rem;
        }
    }

    .secciontestimonios-ejemplo2{
        flex-direction: row;
        h3{
            padding-left: 40px;
        }
    }
}

   
   @media screen and (max-width: 570px) {
    .secciontestimonios-ejemplo1, .secciontestimonios-ejemplo2, .secciontestimonios-ejemplo3{
        width: 100%;
        padding: 5vh;
        justify-content: center;

        h3{
            font-size: 2rem;
            justify-items: center;
        }

        p{
            font-size: 1rem;
        }
    }

    .secciontestimonios-ejemplo2{
        flex-direction: row;
    } 
   }

.secciontestimoniostitulo{  
    height: 200px;
    width: 100%;
    padding: 20px;
    color: $colorsecundario;

    font-size: 80px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;

    display: block;
    text-align: center;
    justify-content: center;
 
}

@media screen and (max-width: 850px) {
    .secciontestimoniostitulo{
    font-size: 3.2rem;
    padding: 10px;
    height: auto;
    }
    
}

@media screen and (max-width: 570px) {
    .secciontestimoniostitulo{
    font-size: 2.8rem;
    padding: 10px;
    height: auto;
    }
    
}

// @media screen and (max-width: 850px) {
//        h2{
//         width: 100%;
//        }
//        .seccionte
// }

   
//    @media screen and (max-width: 570px) {
              
//    }

/* <!--  Fin Sección Testimonios --> */