
/* <!--  Sección Testimonios --> */

.secciontestimonios{

    img{
       width: 200px;
       height: 200px;
    }

    width: 100%;
    padding: 20px;
    display: inline-block;

    &-ejemplo1, &-ejemplo2, &-ejemplo3{
        width: 100%;
        padding: 5vh 10vh;
    
        @extend %flexbox;

        justify-content: flex-start;
        
    }
    

    h3{
        padding-left: 40px;
        color: $colorprimario;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
    }
    
    p{
        padding: 0 40px;
        color: $colorterciario;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
    }
    
    &-ejemplo2{
        flex-direction: row-reverse;
        h3{
            padding-left: 1300px;
        }
     }
}

.secciontestimoniostitulo{  
    height: 200px;
    width: 100%;
    padding: 20px;
    color: $colorsecundario;

    font-size: 80px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;

    display: block;
    text-align: center;
    justify-content: center;
}

/* <!--  Fin Sección Testimonios --> */